@model IEnumerable<River.Data.Models.Domain.Application>

@{
    ViewData["Title"] = "GetApplications";
}

<h1>GetApplications</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UniversityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniversityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firm)
            </td>
            <td>
                <a asp-action="GetApplication" asp-controller="Application" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
